.containerLanding {
    display: flex;
    width: 80vw;
    margin-top: 8%;
    margin-left: 6%;
    margin-right: 6%;
    justify-content: space-between;
}

.contentBrand {
    width: 42vw;
    margin-left: 6%;
}

.logoLeftBrand {
    font-size: 154pt;
    color: #5463FF;
    margin-right: 1%;
}

.brandName {
    margin-top: 2%;
    text-align: left;
}

.firstName {
    margin-top: 10%;
    font-size: 42pt;
    color: #FFC300;
    margin-bottom: 0;
    font-weight: bold;
}

.lastName {
    font-size: 84pt;
    color: #FF1818;
    margin-top: -20px;
    font-weight: bold;
}

.logoRightBrand {
    font-size: 154pt;
    color: #5463FF;
    margin-right: 1%;
}

.brand {
    display: flex;
    align-items: center;
}

.sloganText {
    font-style: italic;
    font-size: 12pt;
    font-weight: 100;
    width: 74%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
    color: #868686;
}

.descriptionText {
    font-size: 14pt;
    width: 94%;
    color: #868686;
    font-weight: 200;
    margin-left: 2%;
}

.contentButton {
    display: flex;
    width: 38%;
    margin-top: 4%;
    margin-left: 2%;
    justify-content: space-between;
}

.buttonPrimaryLanding {
    background-color: #FF1818;
    border: 1px solid #FF1818;
    border-radius: 8px;
    transition-delay: 70ms;
}

.buttonPrimaryLanding:hover {
    background-color: white;
    border-radius: 8px;
    transition-delay: 70ms;
    cursor: pointer;
}

.textButtonPrimaryLanding {
    padding: 12px 14px 12px 14px;
    color: #ECECEC;
    cursor: pointer;
}

.textButtonPrimaryLanding:hover {
    color: #FF1818;
}

.buttonSecondaryLanding {
    background-color: none;
    border: 1px solid #FFC300;
    border-radius: 8px;
    transition-delay: 70ms;
}

.buttonSecondaryLanding:hover {
    background-color: #FFC300;
    border-radius: 8px;
    transition-delay: 70ms;
    cursor: pointer;
}

.textButtonSecondaryLanding {
    padding: 12px 14px 12px 14px;
    color: #FFC300;
    cursor: pointer;
}

.textButtonSecondaryLanding:hover {
    color: #ECECEC;
}

.imagePromotional {
    height: 50vh;
    width: 28vw;
}

