.containerLanding {
    display: flex;
    width: 80vw;
    margin-top: 8%;
    margin-left: 6%;
    margin-right: 6%;
    justify-content: space-between;
}

.contentBrand {
    width: 42vw;
}

.logoLeftBrand {
    font-size: 154pt;
    color: #5463FF;
    margin-right: 2%;
}

.brandName {
    text-align: left;
}

.firstName {
    margin-top: 10%;
    font-size: 42pt;
    color: #FFC300;
    margin-bottom: 0;
    font-weight: bold;
}

.lastName {
    font-size: 84pt;
    color: #FF1818;
    margin-top: -20px;
    font-weight: bold;
}

.logoRightBrand {
    font-size: 154pt;
    color: #5463FF;
    margin-left: 2%;
}

.brand {
    display: flex;
    align-items: center;
}

.sloganText {
    font-style: italic;
    font-size: 12pt;
    font-weight: 100;
    width: 70%;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.descriptionText {
    font-size: 14pt;
    width: 90%;
    color: #7D7D7D;
    margin-left: 2%;
}

.imagePromotional {
    height: 50vh;
    width: 28vw;
}

