.containerHeader {
  background-color: #5463ff;
  height: 10vh;
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoNav {
  display: flex;
  align-items: center;
  margin-left: 2%;
  cursor: pointer;
}

.logoLeft {
  margin-right: 0.4vw;
  font-size: 32pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffc300;
}

.iconLogo {
  margin-top: 6%;
}

.logoRight {
  margin-left: 0.4vw;
  font-size: 32pt;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #ffc300;
}

.inlineContent {
  display: flex;
  justify-content: space-between;
  width: 16vw;
}

.buttonPrimary {
  background-color: #ffc300;
  border: 1px solid #ffc300;
  border-radius: 0 0 8px 8px;
  transition-delay: 70ms;
  height: 9vh;
}

.buttonPrimary:hover {
  background-color: #5463ff;
  border: 1px solid white;
  transition-delay: 70ms;
  cursor: pointer;
}

.textButtonPrimary {
  /* padding: 12px 14px 14px 12px; */
  color: white;
  cursor: pointer;
}

.textButtonPrimary:hover {
  color: white;
}

.buttonSecondary {
  background-color: none;
  transition-delay: 70ms;
}

.buttonSecondary:hover {
  transition-delay: 70ms;
  cursor: pointer;
}

.textButtonSecondary {
  padding: 12px 14px 12px 14px;
  color: white;
  cursor: pointer;
}

.textButtonSecondary:hover {
  color: #ffc300;
}
